<div class="jumbotron">

	<center>
		<h1>Welcome to my Clock Shop!</h1>

		<img src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=49738899">
		<br>

		<%= link_to "Check out our Clocks!", clocks_path, class: "btn btn-default" %>
	</center>
</div>